<% remote_form_for( :comment,
     :url => article_comments_path(article),
     :update => "comment-list",
     :position => :bottom,
     :html => {:id => "comment-form"},
     :complete => visual_effect(:pulsate, "comment-list", :duration => 0.5) ) do |f| %>
  <h3>Join in the discussion!</h3>
  <p>
    <%= f.error_messages %>
  </p>
  <% unless logged_in? %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <%  else %>
    <%= f.hidden_field :email, :value => current_author.email  %>
  <%  end %>
  <p>
    <%= f.label 'Comment' %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Post Comment", :onmousedown => "saveMCE(); return false;" %>
  </p>
<% end %>
