<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.label :status %>
<!--  <%= select :article, :status, Article.statuses %> -->
  <%= radio_button :article, :status, Article.statuses[0], :checked => "checked" %>
  Save as draft
  <%= radio_button :article, :status, Article.statuses[1] %>
  Publish
</p>