<h1>Articles</h1>
<table id="article-index">
  <tr>
    <th class="title">Title</th>
    <th class="date">Date posted</th>
    <th class="author">Author</th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr class="<%= article.status.downcase %>">
    <td><%= article.title %></td>
    <td><%= article.abbreviated_date_posted %></td>
    <td><%= article.author.initial_and_last_name %></td>
    <td class="controls">
      <%= link_to 'Show', article, :class => 'control' %>
      <%= link_to 'Edit', edit_article_path(article), :class => 'control' %>
      <%= link_to 'Delete', article, :confirm => 'Are you sure you want to delete this author?', :method => :delete, :class => 'control' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create new article', new_article_path, :class => 'new_link' %>
