<p class="show_field">
  <em>Title:</em>
  <%= @article.title %>
</p>

<p class="show_field">
  <em>Body:</em>
  <%= @article.body %>
</p>

<p class="show_field">
  <em>Status:</em>
  <%= @article.status %>
</p>

<p class="show_field">
  <em>Date posted:</em>
  <%= @article.full_date_posted %>
</p>

<p class="show_field">
  <em>Author:</em>
  <%= "#{@article.author_name} (ID: #{@article.author_id})" %>
</p>

<%= link_to 'Print', print_article_path(@article) %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', @article, :confirm => "Are you sure you want to delete this article?" %> |
<%= link_to 'Back to list of articles', articles_path %>
