<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />

  <title>Design Portfolio
  Template</title><%= stylesheet_link_tag "style" %><%= stylesheet_link_tag "blog" %>
</head>

<body>
  <!--
  <div id="top"></div>
  <div id="topline"></div>
  -->
  
  <div id="wrapper">
    <div class="content">
      <div id="header">
        <h1><a href="#"><span>Blog ni</span>Dugs Dugs</a></h1>

        <div id="menu">
          <ul>
            <li class="selected"><%= link_to "home", "/" %></li>
            <li><%= link_to "articles", articles_path %></li>
            <li><%= link_to "authors", authors_path %></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div><!-- menu -->
      </div><!--header-->

      <div class="sidebar">
        <h3>Recent Posts</h3>
        <%= render :partial => "articles/sidebar" %>
      </div><!--sidebar-->

      <div id="container">
        <%= yield %>
      </div><!--container-->
    </div><!--content-->
  </div><!--wrapper-->

  <div id="footer">
    <div class="content">
      <span class="leftp">copyright 2010 Gillian Dugay</span>
      <span class="rightp">
        <a href="http://vectorart.org">Thanks to VectorArt</a>
      </span>
    </div><!--content-->
  </div><!--footer-->
</body>
</html>

